<span class="text-black inline-flex px-4 mt-2 bg-white">Product Details</span>
<i class="bi bi-three-dots-vertical xl:ml-[205px] lg:ml-[180px] md:ml-[110px] max-sm:float-right"></i>
<div class="p-2 px-4">
    <div class="my-1 max-sm:text-[16px]">
        <span class="text-gray-400">Low Stock Items</span>
        <span class="text-black-400 font-medium xl:ml-[195px] md:ml-[180px] max-sm:float-right ">05</span>
    </div>
    <hr class="text-gray-500 bg-gray-500 ">
    <div class="my-1 max-sm:text-[16px]">
        <span class="text-gray-400">Item Group</span>
        <span class="text-black-400 font-medium xl:ml-[229px] lg:ml-[213px] md:ml-[175px] max-sm:float-right">15</span>
    </div>
    <hr class="text-gray-500 bg-gray-500">
    <div class="my-1 max-sm:text-[16px]">
        <span class="text-gray-400">No of Items</span>
        <span class="text-black-400 font-medium xl:ml-[227px] lg:ml-[210px] md:ml-[180px]  max-sm:float-right">15</span>
    </div>
    

</div>
