<span class="text-black inline-flex px-4 mt-2 bg-white"> Inventory Summary</span>
<div class="grid xl:grid-cols-2 gap-1 lg:grid-rows-2">
    <div class="bg-gray-100 rounded-xl ml-4 mt-2  lg:w-[140px] md:w-[100px] lg:h-[90px] md:h-[120px] pt-2   max-sm:h-[100px]">
        <i class="bi bi-box text-orange-400 text-xl pt-6 sm:pl-4 max-sm:text-[20px] max-sm:ml-2 max-sm:pl-2"></i>
        <p class="ml-2 text-gray-400 pl-2  text-sm max-sm:text-[18px] max-sm:mt-1">Quantity in Hand</p>
        <p class="ml-2 text-black-400 font-medium pl-3 max-sm:font-medium  max-sm:text-[20px]  ">350</p>

    </div>
    <div class="bg-gray-100 rounded-xl ml-4 mt-2 mb-4 lg:w-[140px]  md:w-[100px] lg:h-[90px] md:h-[120px] pt-2  max-sm:h-[100px]">
       
        <i class="bi bi-folder-symlink-fill text-red-400 text-xl pt-6 sm:pl-4 max-sm:text-[20px] max-sm:ml-2 max-sm:pl-2"></i>
        <p class="ml-2 text-gray-400 pl-2 text-sm max-sm:text-[18px] max-sm:mt-1">Will be Recieved</p>
        <p class="ml-2 text-black-400 font-medium pl-3 max-sm:text-[20px] max-sm:pl-4 max-sm:mt-1">45</p>

    </div>
   
</div>