<div class="navigation fixed sm:p-2  max-sm:ml-[75px] md:ml-[170px] lg:ml-[200px] xl:ml-71 top-0 w-full xl:h-[65px] md:h-[56px] max-sm:h-[50px] bg-white z-20 shadow-sm flex" [ngClass]="color=='white'?'bg-white':'bg-green-200'">
<div class="lg:ml-8 md:ml-4 mt-2 mb-2 h-[30px]  max-sm:ml-2 rounded-full bg-gray-100 inline-flex  ">
  <i class="bi bi-search p-2 text-sm text-gray-400"></i>
  <input type="text" placeholder="Search anything" class=" text-gray-400 text-[15px]  bg-transparent focus:outline-none"> 
</div>
<div class=" max-sm:hidden md:ml-[120px] lg:ml-[300px] xl:ml-[650px] mt-2 flex ">
  <i class="bi bi-bell-fill mx-2 text-gray-400 text-xl "></i>
  <div class="h-[30px] w-[160px]  text-gray-700 rounded-full bg-gray-100  mx-2 inline-flex  ">
    <i class="bi bi-person-circle px-1 text-xl"></i>
<span class="px-1 pt-0.5">Deni Genting</span>
<i class="bi bi-chevron-down  text-sm pt-1.5 pl-2 text-gray-800 "></i>
  </div>
  <i class="bi bi-nut text-xl  text-gray-600 mx-2 "></i>

</div>
<div class="mt-[12px]   "><i class="max-sm:visible sm:hidden bi bi-three-dots-vertical max-sm:absolute right-20"></i></div>

</div>
