<span class="text-black inline-flex px-4 mt-2 bg-white ">Purchase Overview</span>
<i class="bi bi-three-dots-vertical lg:relative bottom-6 xl:ml-[538px] lg:ml-[380px] md:ml-[395px] max-sm:float-right"></i>
<div class="lg:relative bottom-2 lg:px-3  md:pl-0 md:mt-4 lg:mt-0 lg:block md:flex">
<div class="inline-flex font-roboto max-sm:block">
<div class="flex xl:w-[250px] lg:w-[185px] md:w-[160px] h-[60px]  ml-2 rounded-b  lg:border-b lg:border-r lg:border-opacity-50 lg:border-gray-100 max-sm:mr-[1px] max-sm:ml-4">
    <div class="mt-2 lg:ml-6 h-10 w-10 rounded-lg bg-purple-200 flex items-center justify-center">
    
    <i class="bi bi-handbag-fill text-xl text-purple-600"></i>
    </div>
    <div class="ml-2 mt-2 leading-none ">
    <span class="text-gray-400 text-sm">No of purchases</span><br>
    <span class="text-black text-[22px] font-medium max-sm:text-[18px]">85</span>
    </div>
</div>
 
<div class="flex  xl:w-[250px] lg:w-[185px] md:w-[130px] h-[60px] rounded-b  lg:border-b lg:border-opacity-25 lg:border-gray-200 max-sm:ml-4">
    <div class="mt-2 lg:ml-6 h-10 w-10 rounded-lg bg-green-200 flex items-center justify-center">
        <i class="bi bi-x-square-fill text-xl text-green-600"></i>
    
    </div>
    <div class="ml-2 mt-2 leading-none ">
    <span class="text-gray-400 text-sm">Cancel Order</span><br>
    <span class="text-black text-[22px] font-medium max-sm:text-[18px]">05</span>
    </div>
</div>

</div>
<div class="inline-flex max-sm:block">
    <div class="flex xl:w-[250px] lg:w-[185px]  h-[60px]  ml-2 rounded-t   lg:border-r border-opacity-50 border-gray-100 max-sm:mr-[44px] max-sm:ml-4 ">
        <div class="mt-2 md:ml-6 h-10 w-10 rounded-lg bg-yellow-200 flex items-center justify-center">
        <i class="bi bi-bar-chart-fill text-xl text-yellow-400 "></i>
        </div>
        <div class="ml-2 mt-2 leading-none ">
        <span class="text-gray-400 text-sm">Cost</span><br>
        <span class="text-black text-[22px] font-medium max-sm:text-[18px]">10'650</span>
        </div>
    </div>
    

    <div class="flex  xl:w-[250px] lg:w-[185px]  h-[60px] rounded-t   border-opacity-25 border-gray-200 max-sm:ml-4">
        <div class="mt-2 lg:ml-6 md:ml-4 h-10 w-10 rounded-lg bg-yellow-500 flex items-center justify-center">
        
        <i class="bi bi-sort-up-alt text-xl text-yellow-200 "></i>
        </div>
        <div class="ml-2 mt-2 leading-none ">
        <span class="text-gray-400 text-sm">Returns</span><br>
        <span class="text-black text-[22px] font-medium max-sm:text-[18px]">8,550</span>
        </div>
    </div>
    
    </div>
    </div>