<span class="text-black inline-flex px-4 mt-2 bg-white"> Sales Overview</span>
<i class="bi bi-three-dots-vertical xl:ml-[390px] lg:ml-[228px]  md:ml-[420px] max-sm:float-right"></i>
<br>
<div class="md:flex lg:block ">
<div class="inline-flex lg:mt-4 lg:px-3 md:pl-0 font-roboto max-sm:block">
<div class="flex xl:w-[250px] lg:w-[185px]  h-[60px]  ml-2 rounded-b  lg:border-b lg:border-r lg:border-opacity-50 lg:border-gray-100 ">
    <div class="mt-2 ml-6 h-10 w-10 rounded-lg bg-purple-200 flex items-center justify-center max-sm:ml-2">
    <i class="bi bi-bar-chart-fill text-xl text-purple-600"></i>
    </div>
    <div class="ml-2 mt-2   leading-none ">
    <span class="text-gray-400 text-sm">Total Sales</span><br >
    <span class="text-black text-[22px] font-medium text-md max-sm:text-[18px] ">650</span>
    </div>
</div>

<div class="flex xl:w-[250px] lg:w-[185px]  h-[60px] rounded-b  lg:border-b lg:border-opacity-25 lg:border-gray-200 ">
    <div class="mt-2 ml-6 max-sm:ml-4 h-10 w-10 rounded-lg bg-green-200 flex items-center justify-center">
   
    <i class="bi bi-graph-up-arrow text-xl text-green-600"></i>
    </div>
    <div class="ml-2 mt-2 leading-none ">
    <span class="text-gray-400 text-sm">Revenue</span><br>
    <span class="text-black text-[22px] font-medium text-md max-sm:text-[18px] ">18,500</span>
    </div>
</div>

</div>
<div class="inline-flex px-3 max-sm:p-0 max-sm:block">
    <div class="flex  xl:w-[250px] lg:w-[185px]   h-[60px]  ml-2 rounded-t   lg:border-r border-opacity-50 border-gray-100 ">
        <div class="mt-2 ml-6 h-10 w-10 rounded-lg bg-yellow-200 flex items-center justify-center max-sm:ml-2">
        <i class="bi bi-bar-chart-fill text-xl text-yellow-400"></i>
        </div>
        <div class="ml-2 mt-2 leading-none ">
        <span class="text-gray-400 text-sm">Cost</span><br>
        <span class="text-black text-[22px] font-medium text-md max-sm:text-[18px]">10'650</span>
        </div>
    </div>
    

    <div class="flex  xl:w-[250px] lg:w-[185px]   h-[60px] rounded-t   border-opacity-25 border-gray-200 ">
        <div class="mt-2 ml-6 max-sm:ml-4 h-10 w-10 rounded-lg bg-yellow-500 flex items-center justify-center">
        
        <i class="bi bi-sort-up-alt text-xl text-yellow-200 "></i>
        </div>
        <div class="ml-2 mt-2 leading-none ">
        <span class="text-gray-400 text-sm">Profit</span><br>
        <span class="text-black text-[22px] font-medium text-md max-sm:text-[18px]">8,550</span>
        </div>
    </div>
    
    </div>
    </div>