<span class="text-black inline-flex px-4 mt-2 bg-white">No. of Users</span>
<i class="bi bi-three-dots-vertical xl:ml-[225px] lg:ml-[60px] md:ml-0  max-sm:float-right"></i>
<div class="grid xl:grid-cols-2 gap-4 max-sm:pr-10">
    <div class="bg-gray-100 rounded-xl ml-4 mt-2 lg:h-[90px] lg:w-[140px] md:w-[100px] md:h-[120px] pt-2  max-sm:h-[100px]">
       
        <i class="bi bi-people-fill text-blue-600 text-xl pt-6 pl-4 max-sm:text-[20px] "></i>
        <p class="ml-2 text-gray-400 pl-2 text-sm max-sm:text-[18px] max-sm:mt-1">Total Customer</p>
        <p class="ml-2 text-black-400 font-medium pl-3 max-sm:text-[20px]">2.5k</p>

    </div>
    <div class="bg-gray-100 rounded-xl ml-4 mt-2 lg:h-[90px] lg:w-[140px] md:w-[100px] md:h-[120px] pt-2  max-sm:h-[100px]">
        <i class="bi bi-people-fill text-blue-600  text-xl pt-6 pl-4 max-sm:text-[20px] "></i>
        <p class="ml-2 text-gray-400 pl-2 text-sm max-sm:text-[18px] max-sm:mt-1">Total Suppliers</p>
        <p class="ml-2 text-black-400 font-medium pl-3 max-sm:text-[20px]">35</p>

    </div>
   
</div>